@use "variables" as *;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f5f3ea;
}

.container {
  max-width: 1780px; // Desktop width
  margin: 0 auto;
  padding: 0 30px;

  @media screen and (max-width: $ui-breakpoint-lg) {
    max-width: 930px; // Tablet width
    padding: 0 30px;
  }

  @media screen and (max-width: $ui-breakpoint-md) {
    padding: 0 20px;
  }

  @media screen and (max-width: $ui-breakpoint-sm) {
    max-width: 100%; //  full width on very small screens
    padding: 0 10px;
  }
}
