@use "variables" as *;

.border {
  border-top: 1px solid #252525;
  padding: 50px 0;

  @media screen and (max-width: $ui-breakpoint-lg) {
    padding: 30px 0;
  }
}

.my-clients {
  &__title {
    font-family: $ui-main-font;
    font-weight: 300;
    font-size: 212px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
    margin-bottom: 50px;

    @media screen and (max-width: $ui-breakpoint-lg) {
      font-size: 150px;
      margin-bottom: 30px;
    }

    @media screen and (max-width: $ui-breakpoint-md) {
      font-size: 78px;
    }
  }

  &__card {
    padding: 30px 50px 60px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;

    @media screen and (max-width: $ui-breakpoint-lg) {
      padding: 40px 0;
      border-right: none;
    }

    &:nth-child(3n) {
      border-right: none;
    }

    &:nth-last-child(-n + 3) {
      border-bottom: none;

      @media screen and (max-width: $ui-breakpoint-lg) {
        border-bottom: 1px solid #000;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__logo {
    width: fit-content;
  }

  &__menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: $ui-breakpoint-lg) {
      display: block;
    }

    @media screen and (max-width: $ui-breakpoint-md) {
      padding: 0 10px;
    }
  }

  & h3 {
    font-family: $ui-main-font;
    font-weight: 800;
    font-size: 40px;
    line-height: 110%;
    color: #333;
  }

  & p {
    font-family: $ui-secondary-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000;
  }

  &__photo {
    border-radius: 50px;
    width: 70px;
    height: 70px;
    grid-row: 1/3;
  }

  &__people-info {
    display: grid;
    grid-template-columns: 1fr 4fr;

    @media screen and (max-width: $ui-breakpoint-lg) {
      grid-template-columns: 1fr 9fr;
    }

    @media screen and (max-width: $ui-breakpoint-md) {
      grid-template-columns: 1fr 4fr;
    }
  }
}
