$font-family: "Inter", sans-serif;
$second-family:"Gilroy", sans-serif;
$third-family:"Gilroy-Medium", sans-serif;
$font3: "Gilroy-Bold", sans-serif;
$font4: "Gilroy-SemiBold", sans-serif;
$font5: "Gilroy-Regular", sans-serif;
$background-color:  #f5f3ea;
$color-black: #000;